version: "3.8"

services:

  mongodb:
    image: mongo:latest
    container_name: mongo_cont
    volumes:
      - ./backend/data:/data/db
    ports:
      - "27017:27017"

  redis:
    image: redis:7.0.5-alpine
    container_name: redis-service
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: backend-app
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb
      - redis

  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env

volumes:
  data:

